#woods {
width: 500px;
height: 450px;
position: relative; 
display: inline-flex;
top: 20px;
background: #d7ddea;
border-radius: 10px;
overflow: hidden;
}

.Gregg {
  width: 500px;
  height: 368px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
}



#possum1, #possum2, #possum3, #possum4, #possum5 {
  display: none;
}



#woods input + label[for="possum1"] {
    align-items: center;
    display: inline-flex;
    width: 50px;
    height: 40px;
    justify-content: center;
    z-index: 999;
  background: #949ebb;
  position: relative;
  top: 390px;
  margin-right: 40px;
  margin-left: 33px;
border-radius: 10px;
  color: #d7ddea;
  font-size: 25px;
}

#woods input + label[for="possum2"] {
    align-items: center;
    display: inline-flex;
    width: 50px;
    height: 40px;
    justify-content: center;
    z-index: 999;
  background: #949ebb;
  position: relative;
  top: 390px;
  margin-right: 40px;
border-radius: 10px;
   color: #d7ddea;
  font-size: 25px;
}

#woods input + label[for="possum3"] {
    align-items: center;
    display: inline-flex;
    width: 50px;
    height: 40px;
    justify-content: center;
    z-index: 999;
  background: #949ebb;
  position: relative;
  top: 390px;
  margin-right: 40px;
border-radius: 10px;
   color: #d7ddea;
  font-size: 25px;
}

#woods input + label[for="possum4"] {
    align-items: center;
    display: inline-flex;
    width: 50px;
    height: 40px;
    justify-content: center;
    z-index: 999;
  background: #949ebb;
  position: relative;
  top: 390px;
  border-radius: 10px;
   color: #d7ddea;
  font-size: 25px;
}

#woods input + label[for="possum5"] {
    align-items: center;
    display: inline-flex;
    width: 50px;
    height: 40px;
    justify-content: center;
    z-index: 999;
  background: #949ebb;
  position: relative;
  top: 390px;
  margin-left: 25px;
  border-radius: 10px;
   color: #d7ddea;
  font-size: 25px;
  text-decoration: none;
}

#woods div[id*="Bea"] {
  width: 480px;
  height: 348px;
  background: #d7ddea;
  overflow-x: hidden;
  position: absolute; 
  z-index: 9;
  padding: 10px;
  margin: 0 auto;
  opacity: 0;
  left: 500px;
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
  text-align: justify;
  transition: 1s all ease;
}


#Mae-control #Bea{ 
  transition: 0.8s  all ease;
  top: 0px; 
 }

#Mae-control #Bea1 {  top: 0px;
  transition: 0.8s  all ease;
    
 }

#Mae-control #Bea2 {   top: 0px;
  transition: 0.8s all ease;
}

#Mae-control #Bea3 {   top: 0px;
  transition: 0.8s all ease;

}
#Mae-control #Bea4 {   top: 0px;
  transition: 0.8s all ease;

}


input#possum1:checked ~ #Bea1, input#possum2:checked ~ #Bea2, input#possum3:checked ~ #Bea3,
input#possum4:checked ~ #Bea4{
  opacity: 1;
  transition: 0.8s ease-in-out;
  left: 0;
  transform: scale(1,1);
}

.Angus {
  width: 200px;
  height: 340px;
  position: absolute;
  background-size: cover;
   border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 5px solid #949ebb;
}



.thirialname {
  position: absolute;
  width: 200px;
  margin-left: 270px;
  margin-top: 140px;
}

.rialnim {
  font-size: 25px;
  text-align: center;
  font-family: 'Playfair Display';
  letter-spacing: -1px;
  line-height: 12px;
  position: absolute;
}

.icon:before {
    content: '\eacf';
    font-family: 'honeybee';
    font-size: 75px;
    color: #949ebb;
    position: absolute;
    transform: rotate(-15deg);
    opacity: 0.5;
  margin-top: -10px;
}


.frase {
  width: 170px;
  padding: 10px;
  font-size: 10px;
  letter-spacing: 1px;
  position: relative;
  left: 6px;
  height: 100px;
  text-align: right;
  overflow: auto;
  margin-top: 15px;
  font-family: 'Open Sans';
  line-height: 11px;
}

.Sfalcon {
    width: 460px;
    height: 200px;
    padding: 10px;
    position: relative;
}

.Sfalcon2 {
    width: 460px;
    height: 200px;
    padding: 10px;
    position: relative;
}


.weird {
  width: 75px;
  height: 75px;
  position: relative;
  border: 5px solid #949ebb;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.weird2 {
  width: 75px;
  height: 75px;
  position: relative;
  left: 360px;
  border: 5px solid #949ebb;
  border-radius: 10px;
  background-size: cover;
}

.triangulito {
    width: 20px;
    height: 20px;
    background: #949ebb;
    position: absolute;
    margin-top: -50px;
    margin-left: 84px;
    clip-path: polygon(100% 50%, 0 0, 0% 100%);
}

.triangulito1 {
    width: 20px;
    height: 20px;
    background: #949ebb;
    position: absolute;
    margin-top: -50px;
    margin-left: 341px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}
.pssum-forest  {
    width: 300px;
    height: auto;
    font-size: 20px;
    padding: 10px;
    position: relative;
    font-family: 'Abril Fatface';
    top: -65px;
    left: 120px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2b2c3e;
    z-index: 999999!important;
}

.pssum-forest2  {
    width: 300px;
    height: auto;
    font-size: 20px;
    padding: 10px;
    position: relative;
    font-family: 'Abril Fatface';
    top: -65px;
    left: 145px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2b2c3e;
}

.die-anywere:before {
    content: '\eb18';
    font-family: 'honeybee';
    font-size: 35px;
    color: #949ebb;
    position: absolute;
    transform: rotate(160deg);
    opacity: 0.5;
    top: 5px;
    left: -20px;
}

.die-anywere2:before {
    content: '\eb18';
    font-family: 'honeybee';
    font-size: 35px;
    color: #949ebb;
    position: absolute;
    transform: rotate(160deg);
    opacity: 0.5;
    top: 5px;
    left: 30px;
}

.text-greggo {
    width: 330px;
    background: #949ebb;
    height: 100px;
    font-size: 11px;
    overflow: auto;
    font-family: 'Roboto';
    padding: 10px;
    text-align: justify;
    position: relative;
    top: -45px;
    left: 95px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #0e0e0e;
}

.text-greggo2 {
    width: 330px;
    background: #949ebb;
    height: 100px;
    font-size: 11px;
    overflow: auto;
    font-family: 'Roboto';
    padding: 10px;
    text-align: justify;
    position: relative;
    top: -45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #0e0e0e;
}

.th-band-aid, .th-candy, .th-fish, .th-coconut, .th-coffee-3, .th-bone, .th-injection {
  position: absolute;
  margin-left: -40px;
  margin-top: -10px;
  font-size: 40px;
   color: #8e6b73;
  transform: rotate(20deg);
  opacity: 0.6;
}

.th-pizza, .th-skull-o, .th-fire, .th-crystal-ball, .th-bread-4 {
  position: absolute;
  transform: rotate(10deg);
  font-size: 35px;
  color: #2b2c3e;
  opacity: 0.6;
  margin-left: 170px;
}
